interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNTkxNjcxNzc2LCJqdGkiOiJiMTU1N2I3NmJjYTM0OTA4YTdjZTMxMTk4OTAzOTg0NCIsInVzZXJfaWQiOiJhN2ExYmYyNy00ZjVhLTRjMDYtOTZjMi0yZDgxMmM1MWI2MWYifQ.RsEsgZaJuIjG4I-jT-oG85ri6gEDq13xLYYxhutGzu0D73ei9XJirB4d0AGNzM_beR5ZijOx14_8S6s0p0WNG7bryCKTZu6FQ-u24HHL2ZpXjO7fHtnLWhRkaHgZhcjfL3pmVwBZXKUAJMtG7d7xC-P56X1PXslNKrTnPs6DfxbmRtLCWVrhTqnsg1-5vIvzry8yeoS15T8JBtpq4j9F3oLmm2-9QsL1wZi-5BuB4G60ZnhEctKbWnxT1n-fB6uat7BU6ziF25EwAHFR7HJozx5g7EIwAP4zwO39sVDyrCWiEr2wv54_1_SnyRAnzcGQj2WDgK4FmQduz23gYjvaGw
    method: GET
    uri: http://api.dev.documentcloud.org/api/users/me/
  response:
    body:
      string: '{"id":100098,"avatar_url":"http://dev.squarelet.com/static/images/avatars/profile.png","name":"Test
        User","organization":11343,"organizations":[11343],"username":"test-user","uuid":"a7a1bf27-4f5a-4c06-96c2-2d812c51b61f"}'
    headers:
      Allow:
      - GET, PUT, PATCH, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
