interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNTkxNzE5NDYzLCJqdGkiOiI1NGUyNWQ2OGRhYzU0M2JmYTZjZjllZTA2NzRmZTUyMCIsInVzZXJfaWQiOiJhN2ExYmYyNy00ZjVhLTRjMDYtOTZjMi0yZDgxMmM1MWI2MWYifQ.Xt0xOFzFFu2_Iu9zkkwdevSvhcBgy5SI3vmVHftkXOtC3cpUMgJywJ3qU2137l8fmd-HKg8pPIeO6FUYDyXXXJ0u7PIR9Sje8PvaSvyigOzlpv8IDI-bDm8p5yMgdK88k877Q0cBdALl1nTj_yIkwHf6EEHQPATe7PvBxTw3nqQua5BU6vPhvNx4lBkU_1MetmkoKktHOz5KVsn35iwLxqZYiAS6CpasNRpQ0ZdxddcB42b--McD0U1DOU6yiRdCzYP3t80NsUY6bxLZEgzvJBgVk2ZBTkZyxNHgHlvwAB5Ywbib3fzKi1bDL9GCMpcam_jTIc3L78mBjpM5FJTNUA
    method: GET
    uri: http://api.dev.documentcloud.org/api/projects/?page=1
  response:
    body:
      string: '{"count":7,"next":null,"previous":null,"results":[{"id":100202,"created_at":"2020-06-09T16:12:42.713578Z","description":"","edit_access":true,"private":true,"slug":"project-factory","title":"Project
        Factory","updated_at":"2020-06-09T16:12:42.714066Z","user":100098},{"id":100003,"created_at":"2020-03-30T20:39:35.944849Z","description":"","edit_access":null,"private":false,"slug":"test-2","title":"Test
        2","updated_at":"2020-03-30T20:39:35.945376Z","user":100002},{"id":100004,"created_at":"2020-03-30T20:39:40.232047Z","description":"","edit_access":null,"private":false,"slug":"test-3","title":"Test
        3","updated_at":"2020-03-30T20:39:40.232303Z","user":100002},{"id":100005,"created_at":"2020-03-30T20:39:44.130055Z","description":"","edit_access":null,"private":false,"slug":"test-4","title":"Test
        4","updated_at":"2020-03-30T20:39:44.130372Z","user":100002},{"id":100006,"created_at":"2020-03-30T20:39:48.527182Z","description":"","edit_access":null,"private":false,"slug":"test-5","title":"Test
        5","updated_at":"2020-03-30T20:39:48.527438Z","user":100002},{"id":100201,"created_at":"2020-06-09T16:12:37.400045Z","description":"This
        is a project for testing","edit_access":true,"private":true,"slug":"this-is-a-project-for-testing-fdb0f073-0470-423a-bd55-7e7baab90356","title":"This
        is a project for testing fdb0f073-0470-423a-bd55-7e7baab90356","updated_at":"2020-06-09T16:13:13.279272Z","user":100098},{"id":111,"created_at":"2020-04-07T13:22:20.384987Z","description":"","edit_access":null,"private":false,"slug":"torture-docs","title":"Torture
        Docs","updated_at":"2020-04-07T13:22:20.386028Z","user":18}]}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
