interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNTkxNzE5NDYzLCJqdGkiOiI1NGUyNWQ2OGRhYzU0M2JmYTZjZjllZTA2NzRmZTUyMCIsInVzZXJfaWQiOiJhN2ExYmYyNy00ZjVhLTRjMDYtOTZjMi0yZDgxMmM1MWI2MWYifQ.Xt0xOFzFFu2_Iu9zkkwdevSvhcBgy5SI3vmVHftkXOtC3cpUMgJywJ3qU2137l8fmd-HKg8pPIeO6FUYDyXXXJ0u7PIR9Sje8PvaSvyigOzlpv8IDI-bDm8p5yMgdK88k877Q0cBdALl1nTj_yIkwHf6EEHQPATe7PvBxTw3nqQua5BU6vPhvNx4lBkU_1MetmkoKktHOz5KVsn35iwLxqZYiAS6CpasNRpQ0ZdxddcB42b--McD0U1DOU6yiRdCzYP3t80NsUY6bxLZEgzvJBgVk2ZBTkZyxNHgHlvwAB5Ywbib3fzKi1bDL9GCMpcam_jTIc3L78mBjpM5FJTNUA
    method: GET
    uri: http://api.dev.documentcloud.org/api/documents/search/?q=document%3A10000478+simple&page=1
  response:
    body:
      string: '{"count":1,"next":null,"previous":null,"results":[{"id":"10000478","user":100098,"organization":11343,"access":"private","status":"success","title":"test","slug":"test","source":"DocumentCloud","description":"A
        simple test document","language":"eng","created_at":"2020-06-09T16:12:37.916Z","updated_at":"2020-06-09T16:12:41.961Z","page_count":1,"projects":[100201],"highlights":{"description":["A
        <em>simple</em> test document"],"page_no_1":["doc1\nThis is a <em>simple</em>
        text PDF containing one page of info"]},"data":{"_tag":["document"]},"asset_url":"http://api.dev.documentcloud.org/files/"}],"escaped":false,"debug":{"text_query":"simple","fq":["!access:invisible","filter(access:public
        AND status:(success readable)) OR (user:100098) OR (access:organization AND
        organization:(11343)) OR (projects_edit_access:(100202 100201))","id:(10000478)"],"sort":"score
        desc, created_at desc","rows":25,"start":0}}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
