interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNTkxNzAzNzEzLCJqdGkiOiIxYzEyZTk0ZThiYTY0OGUzYWIxMmQwNWMxYWZlMDkwMSIsInVzZXJfaWQiOiJhN2ExYmYyNy00ZjVhLTRjMDYtOTZjMi0yZDgxMmM1MWI2MWYifQ.pnvoYeeOVf7sHFpgBCRHW_rkayGtzA7MjvwmCt4YjIF1a7PFcKgzRgl2pAIDC8KRK0E9FgmbA9CVU9oNQJSdzyYBG4dEbiy__pHp-FcyVJtJQe1GxZZUOuXHfhcCmD1423N7YyW-wwQBqB_TBH9Ka09BZE5HIIt8zWb7wfjq5erzIjXApouQ_EMxGC_ojY3LB764XF74pRLHkh5WOUNF8qfF87QFZFeO5IRm1xEWybwbhhhnrB9D7IDJHN3RwlDb4Pr4PxmprN5VOVt9pDVdXKbZmZ9v602t2yYQrmqIUn9V5Rllf12XcnARfM4jJMQznp_mR3umKk_tYenwXkVaWA
    method: GET
    uri: http://api.dev.documentcloud.org/api/documents/search/?q=document%3A10000330+simple&page=1
  response:
    body:
      string: '{"count":1,"next":null,"previous":null,"results":[{"id":"10000330","user":100098,"organization":11343,"access":"private","status":"success","title":"test","slug":"test","source":"MuckRock","description":"A
        simple test document","language":"eng","created_at":"2020-06-09T11:50:14.726Z","updated_at":"2020-06-09T11:50:21.719Z","page_count":1,"projects":[100160],"highlights":{"description":["A
        <em>simple</em> test document"]},"data":{"_tag":["document"]},"asset_url":"http://api.dev.documentcloud.org/files/"}],"escaped":false,"debug":{"text_query":"simple","fq":["!access:invisible","filter(access:public
        AND status:(success readable)) OR (user:100098) OR (access:organization AND
        organization:(11343)) OR (projects_edit_access:(100007 100008 100009 100010
        100011 100012 100013 100014 100015 100016 100017 100018 100019 100020 100021
        100022 100023 100024 100025 100026 100027 100028 100029 100030 100031 100032
        100033 100034 100035 100036 100037 100038 100039 100040 100041 100042 100043
        100044 100045 100046 100047 100048 100049 100050 100051 100052 100053 100054
        100055 100056 100057 100058 100059 100060 100061 100062 100063 100064 100065
        100066 100067 100068 100069 100070 100071 100072 100073 100074 100075 100076
        100077 100078 100079 100080 100081 100082 100083 100084 100085 100086 100087
        100088 100089 100090 100091 100092 100093 100094 100095 100096 100097 100098
        100099 100100 100101 100102 100103 100104 100105 100106 100107 100108 100109
        100110 100111 100112 100113 100114 100115 100116 100117 100118 100119 100120
        100121 100122 100123 100124 100125 100126 100127 100128 100129 100130 100131
        100132 100133 100134 100135 100136 100137 100138 100139 100140 100141 100142
        100143 100144 100145 100146 100147 100148 100149 100150 100151 100152 100153
        100154 100155 100156 100157 100158 100159 100160))","id:(10000330)"],"sort":"score
        desc, created_at desc","rows":25,"start":0}}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
