interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNTkxODgyOTU5LCJqdGkiOiI2NzMwZThhYjQ5YmY0YWRmOGI3YjI4ODRiYTA0OGU5MCIsInVzZXJfaWQiOiJhN2ExYmYyNy00ZjVhLTRjMDYtOTZjMi0yZDgxMmM1MWI2MWYifQ.cCenw65BmD9ZifBZ0ObgtssIswM9h0r0v0Tgh_Gh2Q4l9kWvKiJDTu0vnkS-iSZhLwhAAswjC5Fu7UjM-reptmNcItPnsVA8B3A9-bVfVSjGrvtTS16Ss-rMyjfGfoYktnEPmkh4CsyyvN7f7RNnqfuBo1ysMBcT_uLCCuf8TwpSZbvqj8YeP5vjkDkOiZ3KeGLY6gg9-3NAngNeUnnINpn26pxRSUpHLwI7nJ01-B5GiAG2kbhzDGSJULWu8TXjHB_TKFiSZRCg8NHeXkX-iRpAR2SYZbi6NHu_nu5jB5vuAX0lbJxyXB9TqVqK0HQzAwpbuNtKKvX-cUJjVqJE5A
    method: GET
    uri: http://api.dev.documentcloud.org/api/documents/
  response:
    body:
      string: "{\"count\":41,\"next\":\"http://api.dev.documentcloud.org/api/documents/?page=2\",\"previous\":null,\"results\":[{\"id\":609,\"access\":\"public\",\"asset_url\":\"https://documentcloud-dev-mjk.s3.amazonaws.com/\",\"canonical_url\":\"http://www.dev.documentcloud.org/documents/609-foo\",\"created_at\":\"2010-03-24T21:53:10.411520Z\",\"data\":{\"a-key\":[\"value\"]},\"description\":\"\",\"edit_access\":false,\"language\":\"eng\",\"organization\":2,\"page_count\":2,\"page_spec\":\"612.0x790.9200439453125:0-1\",\"projects\":[],\"related_article\":\"\",\"published_url\":\"\",\"slug\":\"foo\",\"source\":\"Talking
        Points Memo\",\"status\":\"success\",\"title\":\"Disputed Memo Purporting
        To Be Dem Plan for Medicare Change\",\"updated_at\":\"2020-05-25T19:52:19.500880Z\",\"user\":2},{\"id\":613,\"access\":\"public\",\"asset_url\":\"https://documentcloud-dev-mjk.s3.amazonaws.com/\",\"canonical_url\":\"http://www.dev.documentcloud.org/documents/613-national-conference-2010-letter-from-sue-myrick\",\"created_at\":\"2010-03-25T14:08:23.066983Z\",\"data\":{},\"description\":\"\",\"edit_access\":false,\"language\":\"eng\",\"organization\":2,\"page_count\":1,\"page_spec\":\"\",\"projects\":[],\"related_article\":\"\",\"published_url\":\"\",\"slug\":\"national-conference-2010-le[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNTkxODgyOTU5LCJqdGkiOiI2NzMwZThhYjQ5YmY0YWRmOGI3YjI4ODRiYTA0OGU5MCIsInVzZXJfaWQiOiJhN2ExYmYyNy00ZjVhLTRjMDYtOTZjMi0yZDgxMmM1MWI2MWYifQ.cCenw65BmD9ZifBZ0ObgtssIswM9h0r0v0Tgh_Gh2Q4l9kWvKiJDTu0vnkS-iSZhLwhAAswjC5Fu7UjM-reptmNcItPnsVA8B3A9-bVfVSjGrvtTS16Ss-rMyjfGfoYktnEPmkh4CsyyvN7f7RNnqfuBo1ysMBcT_uLCCuf8TwpSZbvqj8YeP5vjkDkOiZ3KeGLY6gg9-3NAngNeUnnIN[...]
